Repository yangshun/front-end-interview-handbook, pull requests merged in 2018-03, with the labels that each got.

#61 Tagalog Localization #6-1
  Translations/Tagalog/questions/html-questions.md
Labels: tagalog, translation

#63 Tagalog Localization #6-2 - JS-questions.md (8%)
  Translations/Tagalog/questions/javascript-questions.md
Labels: tagalog, translation

#66 Tagalog Localization #7 - javascript-questions.md
  Translations/Tagalog/questions/javascript-questions.md
Labels: tagalog, translation

#71 Update Japanese: README.md to catch up
  Translations/Japanese/README.md
Labels: japanese, translation

#75 Finish Chinese translation
  README.md
  Translations/Chinese/questions/css-questions.md
  Translations/Chinese/questions/html-questions.md
  Translations/Chinese/questions/javascript-questions.md
Labels: chinese, translation

#77 Update zh-cn to latest version
  Translations/Chinese/README.md
  Translations/Chinese/questions/javascript-questions.md
Labels: chinese

#84 Complete Japanese Translation
  Translations/Japanese/README.md
  Translations/Japanese/questions/css-questions.md
  Translations/Japanese/questions/html-questions.md
  Translations/Japanese/questions/javascript-questions.md
Labels: japanese, translation

#85 Partial javascript-questions.md Tagalog Localization [70%]
  Translations/Tagalog/questions/javascript-questions.md
Labels: tagalog, translation

#89 Update Japanese: Fix Link and brash up translation
  Translations/Japanese/README.md
  Translations/Japanese/questions/css-questions.md
  Translations/Japanese/questions/html-questions.md
  Translations/Japanese/questions/javascript-questions.md
Labels: japanese, translation

#97 Update Japanese translation
  Translations/Japanese/questions/css-questions.md
  Translations/Japanese/questions/html-questions.md
  Translations/Japanese/questions/javascript-questions.md
Labels: japanese, translation

#96 Update part of zh-cn content
  Translations/Chinese/README.md
  Translations/Chinese/questions/javascript-questions.md
Labels: chinese
